stages:
  - test
  - package

variables:
  CARGO_TERM_COLOR: always

rust_tests:
  stage: test
  image: rust:1.89
  script:
    - cargo test --workspace

windows_exe_build:
  stage: package
  tags:
    - windows
  before_script:
    - rustup default stable
    - rustup target add x86_64-pc-windows-msvc
    - cargo install tauri-cli --version '^1' --locked
  script:
    - cargo tauri build --features desktop --target x86_64-pc-windows-msvc
  artifacts:
    when: always
    expire_in: 14 days
    paths:
      - target/**/bundle/nsis/*.exe
      - target/**/bundle/msi/*.msi
  rules:
    - if: '$CI_COMMIT_BRANCH'
